* {
border: 1px solid red !important;
}

.squares {
 height: 100px;
 width:  100px;
}

.container {
 height: 500px;
 width: 500px;
 background-color: gray;
}

#square1 {
 background-color: red;
 height: 200px;
 float: left;
 /*display: inline-block;*/
}

#square2 {
 background-color: blue;
 width: 200px;
 /*float: left;*/
 clear: right;
 /*display: inline-block;*/
}

#square3 {
 background-color: green;
}

#square4 {
 background-color: black;
}
